
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #004b8d; 
  padding: 1rem 2rem;
}

body, h1, h2, h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 600; 
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5;
}

h1 {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}



p, li {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;                 
  margin-bottom: .5rem;
  color: #333;
  line-height: 1.5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Section Styling */
.section {
  padding: 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.section h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #004b8d;
}

.section p, .section ul {
  margin-bottom: .3rem;
}

/* Visualization Container Styling */
.viz-container {
  margin-bottom: 2rem;
}

.viz-placeholder {
  background-color: #e2e8f0; 
  border: 1px dashed #ccc;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

.hero {
  background-color: #d7e9ff;
  padding: 1rem;         
  text-align: left;      
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;       
}

.hero-content h1 {
  font-size: 2.5rem;
  max-width: 1100px;
  font-weight: 600;
  color: #004b8d;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.6rem;
  max-width: 1100px;
  margin-bottom: 1rem;
}

.hero-content h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #004b8d;
  margin-bottom: 1rem;
}


.viz-flex {
  display: flex;
  flex-direction: column; 
  gap: 1.5rem;           
  align-items: flex-start; 
}


.viz-chart {
  flex: 2;
}

.viz-container h3 {
  font-size: 2rem;
  color: #004b8d; 
}


.viz-description {
  flex: 1;
  font-size: 18px;
  line-height: 1.5;
}

.viz-takeaway {
  margin: 1.5rem auto 0 auto;
  font-size: 14px;
  line-height: 1.6;
}

.viz-takeaway h4 {
  text-align: left;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  color: #004b8d;
}

.viz-info {
  margin-bottom: 3rem;
}


footer {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #eaeaea;
  color: #333;
}
